# network specific node uri : `"ETH_NODE_URI_" + networkName.toUpperCase()`
ETH_NODE_URI_MAINNET=https://eth-mainnet.alchemyapi.io/v2/<apiKey>
# generic node uri (if no specific found) :
ETH_NODE_URI=https://{{networkName}}.infura.io/v3/<apiKey>

# network specific mnemonic : `"MNEMONIC_ " + networkName.toUpperCase()`
MNEMONIC_MAINNET=<mnemonic for mainnet>
# generic mnemonic (if no specific found):
MNEMONIC=<mnemonic>

# coinmarketcap api key for gas report
COINMARKETCAP_API_KEY=
TENDERLY_USERNAME=

# Chainlink related parameter configuration
# network specific CHAINLINK : `"CHAINLINK__${variable name}" + networkName.toUpperCase()`
# Example 1: CHAINLINK_CONTRACT_BSC_TEST='0x6a2aad07396b36fe02a22b33cf443582f682c82f'
CHAINLINK_CONTRACT=
CHAINLINK_GAS_LIMIT=
CHAINLINK_SUBSCRIBE_ID=
CHAINLINK_KEY_HASH=
CHAINLINK_REQUEST_CONFIRMATIONS=
# Call api
CHAINLINK_LINK_TOKEN=
CHAINLINK_ORACLE=
CHAINLINK_JOB_ID=
CHAINLINK_FEE=  # Default 0.1 LINK
